.PageGall {
  flex: 1 0 auto;
  margin: 52px 0 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 220, 220);
  box-sizing: content-box;

  &__h1 {
    font-size: 30px;
    color: black;
  }

  &__mainImg {
    display: block;
    width: 800px;
    height: 450px;
  }

  &__contImgmin {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: cente;
  }

  &__Img {
    border-radius: 5px;
    margin: 0 2px;
    width: 100px;
    height: 60px;
    transition: transform 200ms linear;

 /*    &:hover {
      transform: scale(1.3);
    } */
  }

  &__ImgH {
    border-radius: 5px;
    margin: 0 2px;
    width: 100px;
    height: 60px;
    transition: transform 200ms linear;
    transform: scale(1.3);
  }


  &__button:first-child {
    display: flex;
    margin: 0 2px;
    width: 40px;
    height: 58px;
    border-right: 32px solid #946844;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: none;
    font-size: 0;
    outline: none;

    &:hover {
      border-right: 32px solid rgb(148, 68, 144);
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: none;
    }
  }

  &__button:last-child {
    display: flex;
    margin: 0 2px;
    width: 40px;
    height: 58px;
    border-right: none;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 32px solid rgb(148, 104, 68);
    font-size: 0;
    outline: none;

    &:hover {
      border-right: none;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 32px solid rgb(148, 68, 144);
    }
  }
}