.obj {
  flex: 1 0 auto;
  margin: 52px 0 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  position: relative;
  z-index: 50;
  &::before {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./../img/fon4.jpg) center;
    background-size: cover;
    opacity: 0.4;
    left: 0;
    top: 0;
    z-index: -200;
  }
}

.contObj {
  background-color: rgba(223, 209, 11, 0.876);
  padding: 30px;
  border-radius: 5px;
}