.contenerShop {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;


}

.header {
    width: 100%;
    display: flex;
    padding: 5%;
    background-color: #000000;
    flex-direction: column;

    &__h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #ffffff;
    }
}


.pageShop {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #c5c1c1;
    justify-content: space-around;
    background-color: lavenderblush;
}

.contCorz {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 20px 20px 20px;

    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
        margin-left: -10px;
        text-align: center;
        background-color: #ffffff;
    }

    &__ollSum {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50px;
        height: 25px;
        margin-top: 20px;
        max-lines: -20px;
        border-radius: 3px;
        background-color: #ffffff;
    }
}

.product {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid rgb(209, 200, 200);
    border-radius: 3px;
    margin: 5px;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    justify-content: space-between;

    &__img {
        height: 60% !important;

    }
    &__name{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
    &__valuta{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }
    &__button{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: darkgray;
      border-radius: 5px;
      width: 30%;
      min-height: 35px;
      border: none;
      outline: none;
      transition: background-color 1000ms linear, color 1000ms linear;
        &-activ{
            color:yellow;
            background-color: #2b2525;
        }
        &:hover{
            //background-color: pink;
            border: 1px solid rgb(177, 160, 160);
        }
    }
}